<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <title>{{ title }} - Pantun Web App</title>

    <link rel="stylesheet" href="{{url_for('static', filename='vendors/@mdi/font/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/miri-ui-kit-free.css')}}">
</head>
<body class="login-page">

    <!-- MODAL START -->
    <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="modalAboutTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ABOUT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Pantun Web APP Versi 1.0
            </div>
            <div class="modal-footer">
                <a href="mailto:cakrawalasiberglobalindo@gmail.com" class="btn btn-primary">HUBUNGI KAMI</a>
            </div>
            </div>
        </div>
    </div>
    <!-- MODAL END -->

    <header class="miri-ui-kit-header header-no-bg-img header-navbar-only">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container">
                <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miriUiKitNavbar"
                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="miriUiKitNavbar">
                    <div class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-icon icon-fb" href="#"><i class="mdi mdi-facebook-box"></i></a>
                            <a class="nav-link nav-icon icon-twitter" href="#"><i class="mdi mdi-twitter-box"></i></a>
                            <a class="nav-link nav-icon icon-insta" href="#"><i class="mdi mdi-instagram"></i></a>
                        </li>

                        {% if 'buat' in request.base_url: %}
                        <a href="{{url_for('kontribusi')}}" class="btn btn-danger ml-lg-3">KONTRIBUSI</a>
                        {% elif 'kontribusi' in request.base_url or 'hasil' in request.base_url: %}
                        <a href="{{url_for('buat')}}" class="btn btn-danger ml-lg-3">BUAT</a>
                        {% else: %}
                        <button class="btn btn-danger ml-lg-3" data-toggle="modal" data-target="#modalAbout">ABOUT</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages.0.0 }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    {% endblock %}

    {% if 'kontribusi' in request.base_url: %}
    <div class="card login-card">
        <div class="card-body">
            <h3 class="text-center text-white font-weight-light mb-4">TAMBAH PANTUN</h3>
            <form action="{{ url_for('kontribusi_proc') }}" method="POST">
                <div class="form-group">
                    <input type="text" name="sampiran1" placeholder="Sampiran 1" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="sampiran2" placeholder="Sampiran 2" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="isi1" placeholder="Isi 1" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="isi2" placeholder="Isi 2" class="form-control" required>
                </div>
                <input type="submit" name="submitPantun" value="Tambah" class="btn btn-danger btn-block mb-3">
            </form>
        </div>
    </div>
    {% elif 'buat' in request.base_url: %}
    <div class="card login-card">
        <div class="card-body">
            <h3 class="text-center text-white font-weight-light mb-4">BUAT PANTUN</h3>
            <form action="{{ url_for('hasil') }}" method="POST">
                <div class="form-group">
                    <input type="text" name="isi1" placeholder="Isi 1" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="isi2" placeholder="Isi 2" class="form-control" required>
                </div>
                <input type="submit" name="buatPantun" value="Buat" class="btn btn-danger btn-block mb-3">
            </form>
        </div>
    </div>
    {% else: %}
    <div class="card login-card">
        <div class="card-body justify-content-center">
            <a href="{{url_for('buat')}}" class="btn btn-primary d-block">BUAT PANTUN</a>
            <hr>
            <a href="{{url_for('kontribusi')}}" class="btn btn-success d-block">TAMBAH PANTUN</a>
        </div>
    </div>
    {% endif %}
    <footer>
        <div class="container">
            <nav class="navbar navbar-dark bg-transparent navbar-expand footer-navbar d-block d-sm-flex text-center">
                <span class="navbar-text">&copy; Pantun. All rights reserved.</span>
                <div class="navbar-nav ml-auto justify-content-center">
                    <a href="#" class="nav-link">Support</a>
                    <a href="#" class="nav-link">Terms</a>
                    <a href="#" class="nav-link">Privacy</a>
                </div>
            </nav>
        </div>
    </footer>
    <script src="{{url_for('static', filename='vendors/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/popper.js/dist/umd/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
</body>
</html>
